* {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.header {
  height: 70px;
  /* background: rgb(221, 221, 221); */
  background: linear-gradient(#c2c2c2b9, #e9e9e9a8);

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  box-shadow: 0px 5px 5px rgb(136, 136, 136);
}

.header h1 a {
  font-size: 40px;
  font-weight: 700;
  color: #be2424e8;
  margin: 20px;
  cursor: pointer;
  text-decoration: none;
  text-decoration: none;
}

.main {
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  position: relative;
}
.single-product {
  background: rgb(255, 255, 255);
  max-width: 828px;
  max-height: 543px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  border-radius: 15px;
  box-shadow: 2px 5px 10px rgb(136, 136, 136);
}
.single-product .section-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #505050;
  font-size: 14px;
  font-weight: 300;
}
.single-product .section-left .img-holder {
  background: #f8f9fa;
  width: 360px;
  height: 338px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 15px;
}
.single-product .section-left p {
  margin-right: auto;
  font-size: 12px;
  font-weight: 400;
  color: #b4b9c3;
}
.single-product .section-left img {
  max-width: 301px;
  max-height: 280px;
  border-radius: 15px;
}

.single-product .section-left .smlimg {
  margin: auto;
  width: 360px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.single-product .section-left .smlimg .imghold {
  background: #f8f9fa;

  padding: 10px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.single-product .section-left .smlimg .imghold:hover {
  background: #f8f9fa;

  padding: 10px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: solid 1px #e59d97;
}
.single-product .section-left .smlimg img {
  max-width: 55px;
  max-height: 52px;
}

.single-product .section-right {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
}
.single-product .section-right .first {
  padding: 10px;
  width: 350px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.single-product .section-right .first h1 {
  background: #e4e4e441;
  padding: 5px;
  font-size: 12px;
  font-weight: 700;
  color: #315dd8;
  border-radius: 5px;
  border: 0.5px solid rgb(182, 182, 182);
}
.single-product .section-right .first h2 {
  background: #eef5f0;
  padding: 5px;
  font-size: 12px;
  font-weight: 600;
  color: #519c66;
  border-radius: 5px;
}

.single-product .section-right .second {
  padding: 10px;
  width: 350px;
  background: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.single-product .section-right .second .heart {
  background: #f8f9fa;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}
.single-product .section-right .second .heart:hover {
  background: #dadada;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

.single-product .section-right .second h1 {
  font-size: 24px;
  font-weight: 600;
  color: #000000;
}

.single-product .section-right .third {
  padding: 10px;
  width: 350px;
  background: rgb(255, 255, 255);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.single-product .section-right .third h1 {
  background: #eaecfb;
  padding: 5px;
  font-size: 12px;
  font-weight: 500;
  color: #707fe2;
  border-radius: 5px;
}
.single-product .section-right .third h2 {
  background: #ffe3894f;
  padding: 5px;
  font-size: 12px;
  font-weight: 500;
  color: #b59738;
  border-radius: 5px;
}

.single-product .section-right .forth {
  padding: 10px;
  width: 350px;
  background: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
.single-product .section-right .forth h1 {
  font-size: 12px;
  font-weight: 500;
  color: #b4b9c3;
}
.single-product .section-right .forth h4 {
  font-size: 16px;
  font-weight: 700;
  color: #9098a5;
}
.single-product .section-right .fifth {
  padding: 10px;
  width: 350px;
  background: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
.single-product .section-right .fifth h1 {
  font-size: 24px;
  font-weight: 700;
  color: #0e1e3c;
}
.single-product .section-right .fifth h4 {
  font-size: 12px;
  font-weight: 500;
  color: #9098a5;
}
.single-product .section-right .fifth .basket {
  background: #f8f9fa;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}
.single-product .section-right .fifth .basket:hover {
  background: #dadada;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

.single-product .section-right .sixth {
  padding: 10px;
  width: 350px;
  background: rgb(255, 255, 255);
}

.single-product .section-right .sixth .btnholder {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.single-product .section-right .sixth .btn {
  background: #f8f9fa;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 40px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.single-product .section-right .sixth .btn:hover {
  background: #dadada;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 40px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.single-product .section-right .sixth .btn img {
  width: 20px;
  height: 20px;
}
.single-product .section-right .sixth h4 {
  font-size: 12px;
  font-weight: 400;
  color: #9098a5;
}
.single-product .section-right .seventh {
  padding: 10px;
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.single-product .section-right .seventh .buy {
  background: #c62a1c;
  width: 360px;
  height: 52px;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  border-radius: 15px;
  border: none;
  cursor: pointer;
}
.single-product .section-right .seventh .buy:hover {
  background: #ffffff;
  width: 360px;
  height: 52px;
  font-size: 16px;
  font-weight: 600;
  color: #c62a1c;
  border: solid 2px #c62a1c;
  border-radius: 15px;
  cursor: pointer;
}
